# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# VS Code
.vscode/
*.code-workspace

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.tfvars
.terraformrc
terraform.rc

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*$py.class

# Backup files
*.bak
*.swp
*.tmp
